* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

header {
    margin-bottom: 20px;
}

.topnav {
    background-color: #54bb54;
    overflow: hidden;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    font-size: 20px;
}

.topnav a:hover {
    background-color: #171a17;

}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    padding: 20px;
    background-color: #69CCCC;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    border-radius: 17px;
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.05);
}

.card a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}